<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>SecondServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scifi</servlet-name>
        <servlet-class>Scifi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tvshows</servlet-name>
        <servlet-class>tvshows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tvpop</servlet-name>
        <servlet-class>tvpop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>redirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/SecondServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scifi</servlet-name>
        <url-pattern>/Scifi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tvshows</servlet-name>
        <url-pattern>/tvshows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tvpop</servlet-name>
        <url-pattern>/tvpop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            200
        </session-timeout>
    </session-config>
</web-app>
